<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Displaying a particular comment</h2>

    <div>
      <h1><%=comment.id%></h1>
      <h1><%=comment.author%></h1>
      <h1><%=comment.comments%></h1>
    </div>
  </body>
</html>
