<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Welcome to index.ejs page</h1>
    <h1>my fav number is <%= 12+12+12+15 %></h1>
    <!-- <h1><%= Math.floor(Math.random()*24 + 5) %></h1> -->
    <h1><%=rn%></h1>

    <!-- <%-include('./partials/footer') %> -->
  </body>
</html>
