div{
    height: 100px;
    width: 100px;
    /* margin: 300px auto; */
    border-radius: 50%;

    border-top: 15px solid green ;
    border-right: 15px solid rgb(128, 28, 0) ;
    border-bottom: 15px solid rgb(9, 213, 240) ;
    border-left: 15px solid rgb(128, 0, 100) ;
}

/* div:hover{
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;

} */
/* animation-1 */
/* @keyframes loader {
    100%{
        transform: rotate(360deg);
    }
} */

/* animation-2 */
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section:hover div{
    animation-name: loader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes loader {
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(600px) rotate(180deg);
    }
    100%{
        transform: translateY(0px) rotate(360deg);
    }
}