h1{
    text-align: center;
}

input{
    width: 500px;
    display: block;
    margin: 20px auto;
    font-size: 22px;
}
button{
    width: 120px;
    display: block;
    margin: 20px auto;
    font-size: 22px;
}

#list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

figure{
    border: 2px solid black;
}
img{
    height: 250px;
    width: 300px;
}
h2{
    text-align: center;
    font-family: cursive;

}
